@use "node_modules/@splidejs/splide/dist/css/splide.min.css";
@use "node_modules/normalize.css/normalize.css";
@use "sass:color" as sassColor;

@use "../../lib/scss/mixins";
@use "../../lib/scss/spacing";
@use "../../lib/scss/breakpoint";
@use "../../lib/scss/typography";
@use "../../lib/scss/icons";
@use "../../lib/scss/button";
@use "../../lib/scss/navbar";
@use "../../lib/scss/color";
@use "../../lib/scss/general";



/* Contents
 * 0. Variables
 * 0. Mixins
 */



$panel-margins--sm       : spacing.$b8;
$panel-margins--lg       : spacing.$b25;
breakpoint.$desktop-view : breakpoint.$lg;



/* 0. Styles */
.no-scroll {
  overflow                 : hidden;

  @media (min-width: breakpoint.$desktop-view) {
    overflow               : auto;
  }
}



.main {
  @media (min-width: breakpoint.$desktop-view) {
    display                : grid;
    grid-template-columns  : repeat(24, 1fr);
    grid-template-areas    :
      "a a a a a a a a a a a a a a b b b b b b b b b b"
      "c c c c c c c d d d d d d d d d d e e e e e e e"
  }
}



.image-slides {
  @media (min-width: breakpoint.$desktop-view) {
    grid-area              : a;
  }
}



.text-slides {
  @media (min-width: breakpoint.$desktop-view) {
    grid-area              : b;
    display                : flex;
    align-items            : center;
    justify-content        : center;
  }
}



.slide-container {
  position                 : relative;
}



@mixin slide {
  display                  : none;
}


.slide {
  @include                 slide;
}



.image-slide {
  @include                 slide;
  @include                 mixins.aspect-ratio--square;

  background-image         : url(./image/mobile/hero_1.jpg);

  @media (min-width: breakpoint.$desktop-view) {
    @include               mixins.aspect-ratio(63.4%);

    background-image       : url(./image/desktop/hero_1.jpg);
  }
}



.slide--active {
  @include                 slide;

  display                  : block;
  background-size          : cover;
}



@mixin panel {
  padding                  : 0 $panel-margins--sm;
  margin-bottom            : spacing.$b12;
  margin-top               : spacing.$b12;

  @media (min-width: breakpoint.$desktop-view) {
    margin-bottom          : 0;
    margin-top             : 0;
  }
}



.panel {
  @include                 panel;

  @media (min-width: breakpoint.$desktop-view) {
    padding                : 0 $panel-margins--lg;
  }
}



.panel--about {
  @include                 panel;

  @media (min-width: breakpoint.$desktop-view) {
    grid-area              : d;
    align-self             : center;

    padding                : 0 48px;
  }
}



.panel__tagline {
  @include                 typography.h2;

  @media (min-width: breakpoint.$desktop-view) {
    @include               typography.h1;
  }
}



.panel__tagline--about {
  @include                 typography.h2;

  @media (min-width: breakpoint.$desktop-view) {
    @include               typography.h3;
  }
}



.panel__content {
  margin-bottom            : spacing.$b12;

  @media (min-width: breakpoint.$desktop-view) {
    margin-bottom          : 0;
  }
}


.display-none {
  display                   : none;
}


@mixin image-panel {
  @include                 mixins.aspect-ratio--square;

  margin-bottom            : spacing.$b12;
  background-size          : cover;

  @media (min-width: breakpoint.$desktop-view) {
    @include               mixins.aspect-ratio(63.4%);

    align-self             : start;
    margin-bottom          : 0;
  }
}


.image-panel--1 {
  @include                 image-panel;

  background-image         : url(./image/about_dark.jpg);

  @media (min-width: breakpoint.$desktop-view) {
    grid-area              : c;
  }
}



.image-panel--2 {
  @include                 image-panel;

  background-image         : url(./image/about_light.jpg);

  @media (min-width: breakpoint.$desktop-view) {
    grid-area              : e;
  }
}



.button-block {
  display                  : flex;
  justify-content          : flex-end;
  background-color         : black;

  @media (min-width: breakpoint.$desktop-view) {
    grid-column            : 15 / span 3;
    grid-row               : 1 / 2;
    align-self             : end;
    z-index                : 2;
  }
}


@mixin button {
  display                 : inline-block;
  background-color        : black;
  color                   : color.$dark-grey;
  border                  : none;
  outline                 : none;
  font-size               : 24px;
  line-height             : unset;
  padding                 : spacing.$b5;

  &:hover {
    background            : sassColor.scale(
                              color.$dark-grey,
                              $lightness: -10%
                            );
    color                  : white;
  }

  @media (min-width: breakpoint.$desktop-view) {
    padding                : spacing.$b6 spacing.$b5;
    width                  : 50%;
  }
}



.button-left {
  @include                 button;
}


.button-right {
  @include                 button;
}
